<div class="profile-container">
    <div *ngIf="(userProfile$ | async) as userProfile; else loading">
        <mat-card class="profile-card">
            <mat-card-header>
                <mat-card-title>User Profile</mat-card-title>
                <div>
                    <button mat-mini-fab color="primary" *ngIf="!isEditing" (click)="onHomeClick()" [disabled]="isSaving" matTooltip="Go to main page">
                        <mat-icon>home</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary" *ngIf="!isEditing" (click)="onLogoutClick()" [disabled]="isSaving" matTooltip="Logout">
                        <mat-icon>logout</mat-icon>
                    </button>
                </div>
            </mat-card-header>
            <mat-card-content>
                  <mat-form-field>
                      <mat-label>User Name</mat-label>
                      <input matInput placeholder="Nick" [formControl]="name" required>
                      @if (name.invalid) {
                        <mat-error>{{getNameErrorMessage()}}</mat-error>
                      }
                  </mat-form-field>
                  <mat-form-field>
                      <mat-label>User ID</mat-label>
                      <input matInput [formControl]="uid">
                  </mat-form-field>
                  <mat-form-field>
                      <mat-label>Email</mat-label>
                      <input matInput [formControl]="email">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Creation Time</mat-label>
                    <input matInput [formControl]="createdAt">
                  </mat-form-field>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-flat-button color="primary" *ngIf="!isEditing" (click)="onEditClick()">
                    Edit
                </button>
                <button mat-flat-button color="warn" *ngIf="isEditing" (click)="onCancelClick()" [disabled]="isSaving">
                    Cancel
                </button>
                <button mat-flat-button color="primary" *ngIf="isEditing" (click)="onSaveClick()" [disabled]="isSaving || registrationForm.invalid">
                    Save
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <ng-template #loading>
        <mat-spinner></mat-spinner>
    </ng-template>
</div>

