.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}

mat-form-field {
    margin-left: 8px;
    width: 400px;

    &:last-child {
        margin-bottom: 0;
    }
}

mat-card-actions {
    margin-top: 16px;

    button {
        margin-left: 20px;
    }
}

mat-card-header {
    justify-content: space-between;
    margin-bottom: 10px;

    button {
        margin-left: 10px;
    }
}
