/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

html {
  height: 100%;
  box-sizing: border-box;
}

html, body { height: 100%; margin: 0;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: var(--text-color-hard);}

*,
*:before,
*:after {
  box-sizing: inherit;
}

$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$pink-palette);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
  )
);

$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
  )
);

.color-scheme-dark {
  @include mat.core-color($dark-theme);
  @include mat.button-color($dark-theme);
  @include mat.icon-color($dark-theme);
  @include mat.list-color($dark-theme);
  @include mat.sidenav-color($dark-theme);
  @include mat.toolbar-color($dark-theme);
  @include mat.card-color($dark-theme);
  .header-container, main {
    background: #303030;
    color: white;
  }
}

.color-scheme-light {
  @include mat.core-color($light-theme);
  @include mat.button-color($light-theme);
  @include mat.icon-color($light-theme);
  @include mat.list-color($light-theme);
  @include mat.sidenav-color($light-theme);
  @include mat.toolbar-color($light-theme);
  @include mat.card-color($light-theme);
  .header-container, main {
    background: #ede7e7;
    color: black;
  }
}
