<div class="group-header">
    <div>
        <h2>Group list</h2>
    </div>
    <div class="group-buttons">
        <div class="group-countdown" *ngIf="isUpdateDisabled !== false">
            <span>Next update after: {{ updateCountdown }} seconds</span>
        </div>
        <div class="group-operations">
            <button mat-flat-button color="warn" [disabled]="isUpdateDisabled" (click)="onUpdateGroup()">
                Update
            </button>
            <button mat-flat-button color="primary" (click)="openNewGroupDialog()">Create Group</button>
        </div>
    </div>
</div>
<div class="group-list" *ngIf="(groups$ | async | sortByDate) as groups; else loading">
    <mat-nav-list>
        <div class="group-item">
            @for (group of groups.Items; track group.id) {
                <a mat-list-item href="/group/{{group.id}}" >
                    <div matListItemTitle>{{ group.name }}</div>
                    <div matListItemLine>{{ group.createdAt | date:'short'}}</div>
                    <button mat-icon-button
                        *ngIf="group.createdBy === (currentUserUID$ | async)"
                        (click)="onDeleteClick($event, group.id)" matListItemMeta>
                        <mat-icon>delete</mat-icon>
                    </button>
                </a>
            }
        </div>
    </mat-nav-list>
</div>
<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>

