:host {
    display: block;
    text-align: left;
    padding: 20px;
}

.group-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.group-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
        margin-left: 10px;
    }
}

.group-countdown {
    flex-grow: 4;
    align-self: center;
}

.group-list {
    overflow: auto;
    max-height: 70vh;
}

