.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    height: expression(100vh - 60px);
}

.group-container {
    flex-grow: 1;
    height: 100vh;
    max-width: 50%;
}

.people-container {
    flex-grow: 1;
    height: 100vh;
    max-width: 50%;
}
