<div class="header-container">
    <div class="btn-container">
        <button mat-mini-fab matTooltip="Primary" color="basic" (click)="onThemeSwitchChange()">
            <mat-icon>{{colorScheme === 'dark' ? 'light_mode' : 'dark_mode' }}</mat-icon>
        </button>
        <button mat-mini-fab matTooltip="Primary" color="basic" (click)="onLogout()">
            <mat-icon>logout</mat-icon>
        </button>
        <button class="main-btn" mat-raised-button color="primary" (click)="onLogin()">Login</button>
        <button class="main-btn" mat-stroked-button color="accent" (click)="onSignUp()">SignUp</button>
    </div>
</div>

