.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin: 10px 50px 10px 10px;
    gap: 20px;

    .main-btn {
        height: 50px;
        width: 120px;
        border-radius: 20px;
    }
}

