<div class="people-header">
    <div>
        <h2>People list</h2>
    </div>
    <div class="people-buttons">
        <div class="people-countdown" *ngIf="!(nextPeopleUpdateTime$ | async) === false">
            <span><strong>Next update after: {{ (nextPeopleUpdateTime$ | async) }} seconds</strong></span>
        </div>
        <div class="people-operations">
            <button mat-flat-button color="warn" [disabled]="!(nextPeopleUpdateTime$ | async) === false" (click)="onUpdatePeople()">
                Update
            </button>
        </div>
    </div>
</div>
<div class="people-list" *ngIf="(peoples$ | async) as peoples; else loading">
    <mat-nav-list>
        <div class="people-item">
            @for (people of peoples; track people.uid) {
                <a mat-list-item [highlightConv]="people.conversationId" (click)="onPeopleClick($event, people.conversationId, people.uid)">
                    <div matListItemTitle>{{ people.name }}</div>
                </a>
            }
        </div>
    </mat-nav-list>
</div>
<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>

